@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1107px;
  margin: 0 auto;
}

.header {
  max-height: 100px;
  background: #FFFFFF;
  padding: 20px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

.navigation {
  display: flex;
}
@media (max-width: 1160px) {
  .navigation {
    padding: 0 10px;
  }
}
.logo {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .logo {
    margin-top: -20px;
  }
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
}

.logo-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173A56;
  margin-left: 16px;
}

.menu-bar-and-btns {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 237px;
}
@media (max-width: 1160px) {
  .menu {
    margin-left: 180px;
  }
}
@media (max-width: 1060px) {
  .menu {
    margin-left: 120px;
  }
}
@media (max-width: 960px) {
  .menu {
    margin-left: 100px;
  }
}
@media (max-width: 570px) {
  .menu {
    margin-left: 30px;
  }
}

.menu-links {
  display: flex;
}
@media (max-width: 768px) {
  .menu-links {
    flex-wrap: wrap;
  }
}
@media (max-width: 470px) {
  .menu-links {
    flex-wrap: wrap;
  }
}

.menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  margin-right: 30px;
}
.menu-item:last-child {
  margin-right: 0px;
}
@media (max-width: 800px) {
  .menu-item {
    font-size: 13px;
  }
}
@media (max-width: 470px) {
  .menu-item {
    margin-right: 5px;
  }
  .menu-item:last-child {
    margin-right: 0px;
  }
}

.active-menu-item {
  font-weight: 600;
}

.buttons-header {
  display: flex;
  margin-left: 24px;
}
@media (max-width: 768px) {
  .buttons-header {
    padding-left: 0px;
  }
}

.button-sign-in {
  background: #FFFFFF;
  min-width: 110px;
  min-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin-right: 24px;
}
.button-sign-in:hover {
  transition: all 0.4s;
  background-color: #e2e0e0;
}
@media (max-width: 946px) {
  .button-sign-in {
    display: none;
  }
}

.sign-in-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
}

.button-sign-UP {
  background: #02897A;
  border-radius: 4px;
  min-width: 110px;
  min-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-sign-UP:hover {
  transition: all 0.4s;
  background-color: #50604f;
}
@media (max-width: 1160px) {
  .button-sign-UP {
    margin-right: 100px;
  }
}
@media (max-width: 946px) {
  .button-sign-UP {
    display: none;
  }
}

.sign-up-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.landing-page {
  background: #FFFFFF;
  margin-bottom: 115px;
}

.landing-columns {
  display: flex;
}
@media (max-width: 768px) {
  .landing-columns {
    flex-wrap: wrap;
  }
}

.landing-info {
  margin-top: 150px;
  min-width: 518px;
}
@media (max-width: 1148px) {
  .landing-info {
    min-width: 318px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .landing-info {
    order: 2;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
}

.landing-info-title {
  max-width: 518px;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #22343D;
  margin-bottom: 18px;
}
@media (max-width: 578px) {
  .landing-info-title {
    text-align: center;
    font-size: 36px;
  }
}
@media (max-width: 380px) {
  .landing-info-title {
    font-size: 34px;
  }
}

.landing-info-subtitle {
  max-width: 458px;
  font-size: 18px;
  line-height: 156%;
  color: #41A79B;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .landing-info-subtitle {
    max-width: 458px;
    font-size: 24px;
  }
}
@media (max-width: 578px) {
  .landing-info-subtitle {
    max-width: 328px;
    text-align: center;
    font-size: 18px;
    color: black;
  }
}
@media (max-width: 380px) {
  .landing-info-subtitle {
    max-width: 300px;
    font-size: 16px;
    color: black;
  }
}

.buttons-landing {
  display: flex;
}

.info-start {
  background: #02897A;
  border-radius: 4px;
  min-width: 175px;
  min-height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.info-start:hover {
  transition: 0.4s;
  background-color: #b4d8d4;
  color: #22343D;
}
@media (max-width: 400px) {
  .info-start {
    max-width: 140px;
    max-height: 53px;
    font-size: 14px;
  }
}

.btn-watch {
  display: flex;
  align-items: center;
  max-width: 161px;
  margin-left: 30px;
}
@media (max-width: 400px) {
  .btn-watch {
    margin-left: 10px;
  }
}

.info-watch {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897A;
}
@media (max-width: 400px) {
  .info-watch {
    font-size: 14px;
  }
}

.landing-img {
  margin-top: 25px;
}
@media (max-width: 1167px) {
  .landing-img {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .landing-img {
    order: 1;
    padding: 40px;
  }
}
@media (max-width: 570px) {
  .landing-img {
    margin-top: 50px;
    margin-left: 10px;
  }
}

.landing-img-size {
  max-width: 100%;
  max-height: 100%;
}

.product-our-company-page {
  background-image: url(../img/our-company-page/Bgbg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-company-title {
  display: flex;
  justify-content: center;
}

.title-info-company {
  max-width: 539px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
  margin-bottom: 50px;
}
@media (max-width: 570px) {
  .title-info-company {
    font-size: 32px;
  }
}

.cards-info-company {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 962px) {
  .cards-info-company {
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .do-card-center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 470px) {
  .do-card-center {
    padding: 30px 0;
  }
}

.card-item-specifially {
  max-width: 240px;
  max-height: 178px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (max-width: 1135px) {
  .card-item-specifially {
    padding: 0 10px;
  }
}

.img-card-specifially {
  margin-bottom: 30px;
}

.title-card-item-specifially {
  margin-bottom: 13px;
  max-width: 240px;
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  color: #22343D;
}

.subtitle-card-item-specifially {
  max-width: 240px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
}

.btn-company {
  display: flex;
  justify-content: center;
}

.btn-info-company {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 175px;
  max-height: 55px;
  margin-top: 40px;
  background: #02897A;
  border-radius: 4px;
  margin-bottom: 90px;
}

.btn-sing-up-now {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 15px 33px;
}

.managment-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
@media (max-width: 967px) {
  .managment-content {
    flex-wrap: wrap;
  }
}

.universal-block {
  margin-bottom: 150px;
}

.text-info-managment {
  max-width: 486px;
  margin-right: 86px;
}
@media (max-width: 1160px) {
  .text-info-managment {
    margin-right: 70px;
    padding-left: 10px;
  }
}
@media (max-width: 967px) {
  .text-info-managment {
    margin-top: 50px;
    margin-right: 50px;
    order: 2;
    text-align: center;
  }
}
@media (max-width: 967px) {
  .text-info-managment {
    max-width: 100%;
    margin-right: 0px;
    padding: 0 30px;
    order: 2;
  }
}

.managment-overtitle-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #22343D;
  margin-bottom: 32px;
}

.managment-title-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #22343D;
  margin-bottom: 23px;
}

.managment-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
  margin-bottom: 30px;
}

.accesory-markers {
  margin-bottom: 25px;
}

.accesory-markers-title-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
  margin-bottom: 12px;
}

.accesory-markers-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
}

.alterationists-title-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
  margin-bottom: 12px;
}

.alterationists-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
}

@media (max-width: 1160px) {
  .img-managment {
    padding-right: 10px;
  }
}
@media (max-width: 967px) {
  .img-managment {
    margin-top: -20px;
    order: 1;
  }
}

.img-managment-size {
  max-height: 100%;
  max-width: 100%;
}

.customer-support-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 967px) {
  .customer-support-content {
    flex-wrap: wrap;
    text-align: center;
  }
}

.img-customer-support-size {
  max-width: 100%;
  max-height: 100%;
}

.text-info-customer-suppor {
  max-width: 486px;
  margin-left: 94px;
}
@media (max-width: 1160px) {
  .text-info-customer-suppor {
    margin-left: 70px;
    padding-right: 10px;
  }
}
@media (max-width: 967px) {
  .text-info-customer-suppor {
    margin-top: 50px;
    margin-left: 50px;
  }
}
@media (max-width: 967px) {
  .text-info-customer-suppor {
    max-width: 100%;
    margin-left: 0px;
    padding: 0 20px;
  }
}

.customer-support-overtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #22343D;
  margin-bottom: 32px;
}

.customer-support-title-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #22343D;
  margin-bottom: 23px;
}

.customer-support-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
  margin-bottom: 30px;
}

@media (max-width: 970px) {
  .customer-support-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.customer-support-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  max-width: 430px;
}

.logo-customer-support-item {
  margin-right: 30px;
}

.text-customer-support-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
}

.process-page {
  background-image: url(../img/process/Bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 470px;
}

.process-content {
  padding-top: 52px;
}

.process__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.process__info__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #22343D;
}
@media (max-width: 570px) {
  .process__info__title {
    font-size: 28px;
  }
}

.process__info__subtitle {
  max-width: 543px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #22343D;
}

.process-cards {
  display: flex;
  gap: 170px;
  justify-content: center;
}
@media (max-width: 1020px) {
  .process-cards {
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media (max-width: 830px) {
  .process-cards {
    gap: 10px;
  }
}

.process__card__item__photo {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 975px) {
  .process__card__item__photo {
    max-width: 90%;
    max-height: 90%;
  }
}
@media (max-width: 450px) {
  .process__card__item__photo {
    max-width: 50%;
    max-height: 50%;
  }
}

.process__card__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.process__card__item__text {
  max-width: 220px;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 15px 24px;
}
@media (max-width: 975px) {
  .process__card__item__text {
    max-width: 200px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .process__card__item__text {
    max-width: 180px;
  }
}

.btn-process-container {
  display: flex;
  justify-content: center;
  margin-top: 63px;
}

.btn-process {
  background: #02897A;
  border-radius: 4px;
  max-width: 220px;
}

.btn-contact-us {
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #FFFFFF;
  padding: 15px 30px;
}

.contents-strategies-page {
  padding: 150px 0;
}

.strategies__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  color: #22343D;
}
@media (max-width: 1151px) {
  .strategies__title {
    text-align: center;
    margin: 0 20px;
  }
}
@media (max-width: 389px) {
  .strategies__title {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .strategies__title {
    font-size: 26px;
  }
}

.strategies__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #22343D;
  margin-top: 8px;
  margin-bottom: 33px;
}
@media (max-width: 1151px) {
  .strategies__subtitle {
    text-align: center;
    margin: 0 20px 30px 20px;
  }
}

.strategies-cards {
  display: flex;
  gap: 32px;
}
@media (max-width: 1151px) {
  .strategies-cards {
    gap: 30px;
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.strategies-card__item {
  max-width: 348px;
  max-height: 350px;
  border-radius: 8px;
  border: 0.5px solid #d8d8d8;
}
@media (max-width: 382px) {
  .strategies-card__item {
    margin-left: 20px;
    border: 0;
  }
}

.photo__strategies {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 382px) {
  .photo__strategies {
    max-width: 90%;
    max-height: 90%;
  }
}

.strategies-card__item__content {
  margin-bottom: 50px;
}

.strategies-card__item__data {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #22343D;
  padding: 24px 80px 12px 24px;
}
@media (max-width: 382px) {
  .strategies-card__item__data {
    padding: 0;
    margin-bottom: 10px;
  }
}

.black__item__data {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: #22343D;
}

.strategies-card__item__title {
  max-width: 295px;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #22343D;
  padding: 0px 25px 40px;
}
@media (max-width: 382px) {
  .strategies-card__item__title {
    font-size: 20px;
    padding: 0;
  }
}

.active__strategies-card__item__title {
  color: #02897A;
}

.dots {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1140px) {
  .dots {
    display: none;
  }
}

.price-page {
  margin-bottom: 150px;
}

.price__content__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 162%;
  color: #22343D;
  text-align: center;
  margin-top: 24px;
}

.price__content__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #22343D;
  text-align: center;
  margin-bottom: 50px;
}

.price__cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1151px) {
  .price__cards {
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    gap: 30px;
  }
}

.price__card__item {
  border-radius: 8px;
  max-width: 323px;
  max-height: 456px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 24px 0 38px 0;
}
@media (max-width: 1151px) {
  .price__card__item {
    margin: 0 10px;
  }
}
@media (max-width: 350px) {
  .price__card__item {
    max-width: 295px;
  }
}
.price__card__item:hover {
  transition: 0.2s;
  background: #02897A;
}
.price__card__item:hover .price__card__title {
  color: #FFFFFF;
}
.price__card__item:hover .price__card__subtitle {
  color: #FFFFFF;
}
.price__card__item:hover .btn-price {
  background: #ffffff;
}
.price__card__item:hover .btn__order-now {
  color: #02897A;
}
.price__card__item:hover .price__card__money__list__item {
  color: #fff;
}
.price__card__item:hover .price__card__money__value {
  color: #fff;
}
.price__card__item:hover .price__card__money__month__dollar {
  color: #fff;
}
.price__card__item:hover .price__card__money__per-month {
  color: #E0E0E0;
}

.price__card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #22343D;
  margin-top: 24px;
  text-align: center;
}

.price__card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #22343D;
  text-align: center;
}

.price__per-month {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.price__card__money__value {
  font-weight: 700;
  font-size: 76px;
  line-height: 132%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;
}

.price__card__money__month__dollar {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.1px;
  color: #02897A;
}

.price__card__money__per-month {
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}

.price__card__money__opportunity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__card__money__list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  color: #22343D;
}

.btn-price-container {
  display: flex;
  justify-content: center;
  padding: 38px 90px 0;
}
@media (max-width: 400px) {
  .btn-price-container {
    padding: 38px 60px 0;
  }
}

.btn-price {
  background: #02897A;
  border-radius: 8px;
  max-width: 139px;
}

.btn__order-now {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  padding: 11px 20px;
}

.client-say-page {
  margin-bottom: 150px;
}

.client-say-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1170px) {
  .client-say-content {
    margin: 0 20px;
  }
}

.client-say-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 168%;
  letter-spacing: 0.2px;
  color: #22343D;
  margin-bottom: 8px;
}
@media (max-width: 370px) {
  .client-say-title {
    font-size: 31px;
  }
}

.client-say-subtitle {
  max-width: 537px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: #22343D;
  text-align: center;
  margin-bottom: 50px;
}

.client-say-cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1170px) {
  .client-say-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
    gap: 20px;
  }
}

.client__card__item {
  max-width: 327px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.client__card__star {
  padding-top: 28px;
  padding-left: 28px;
  padding-bottom: 16px;
}

.client__card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0px 26px;
}

.client__card__info-person {
  display: flex;
  gap: 14px;
  padding: 16px 0px 24px 26px;
}

.client__card__person__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #02897A;
}

.client__card__person__position {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.boost-business {
  margin-bottom: 150px;
}

.boost__main__container {
  display: flex;
  justify-content: center;
}

.boost__content {
  display: flex;
  max-width: 936px;
  max-height: 100%;
  background: #02897A;
  border-radius: 32px;
}
@media (max-width: 1170px) {
  .boost__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1060px) {
  .boost__content {
    margin: 0 20px;
  }
}
@media (max-width: 410px) {
  .boost__content {
    margin: 0 20px;
  }
}

.boost__info {
  padding: 49px 51px 56px 51px;
}
@media (max-width: 1170px) {
  .boost__info {
    text-align: center;
  }
}
@media (max-width: 568px) {
  .boost__info {
    padding: 35px 30px 56px 30px;
  }
}
@media (max-width: 460px) {
  .boost__info {
    padding: 25px 10px 30px 10px;
  }
}
@media (max-width: 410px) {
  .boost__info {
    padding: 25px 2px 30px 2px;
  }
}

.boost__info__text {
  max-width: 429px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
  margin-bottom: 43px;
}
@media (max-width: 1170px) {
  .boost__info__text {
    max-width: 429px;
    margin-bottom: 35px;
  }
}

.boost__info__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #02897A;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 10px 34px;
}

.boost__img {
  max-width: 100%;
  max-height: 100%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
@media (max-width: 1170px) {
  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 100px;
  }
}
@media (max-width: 622px) {
  .footer__content {
    gap: 32px;
  }
}

.social__media {
  display: flex;
  gap: 16px;
}

@media (max-width: 980px) {
  .footer__resourse {
    min-width: 300px;
  }
}

.footer__resourse__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #22343D;
}

.footer__list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
  color: #22343D;
}

@media (max-width: 980px) {
  .footer__legal-stuff {
    min-width: 300px;
  }
}

.footer__legal-stuff__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #22343D;
}

@media (max-width: 980px) {
  .footer__feedback {
    min-width: 300px;
  }
}
@media (max-width: 1170px) {
  .footer__feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__feedback__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #22343D;
  max-width: 280px;
}

.btn-footer {
  background: #02897A;
  border-radius: 4px;
  max-height: 39px;
  max-width: 131px;
}

.btn__footer__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  padding: 8px 15px;
}

.footer-input {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  min-width: 310px;
  min-height: 48px;
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin: 34px 0px 21px 0px;
}

.made {
  display: flex;
  justify-content: center;
}

.made-with-love {
  max-width: 400px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #22343D;
}

/*# sourceMappingURL=style.css.map */
